fastapi
uvicorn
websockets
motor
python-dotenv
pydantic
PyJWT>=2.0
gspread
google-auth
google-auth-oauthlib
requests_oauthlib
google-api-python-client
python-multipart
httpx
requests
beautifulsoup4
lxml
openpyxl
